@import "tailwindcss";

@font-face {
    font-family: "crimsonPro";
    src: url("../font/CrimsonPro-VariableFont_wght.ttf");
}

@font-face {
    font-family: "dmSerifDisplay";
    src: url("../font/DMSerifDisplay-Regular.ttf");
}

@font-face {
    font-family: "robotoSerif";
    src: url("../font/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf");
}

@font-face {
    font-family: "volkhov";
    src: url("../font/Volkhov-Regular.ttf");
}

@font-face {
    font-family: "helvetica";
    src: url("../font/Helvetica.ttf");
}

@font-face {
    font-family: "helveticalight";
    src: url("../font/helvetica-light-587ebe5a59211.ttf");
}

@font-face {
    font-family: "inter";
    src: url("../font/Inter-VariableFont_opsz,wght.ttf");
}

@theme {
    --breakpoint-mobile: 20rem;
    --font-crimson: "crimsonPro", sans-serif;
    --font-dm-serif-display: "dmSerifDisplay";
    --font-roboto-serif: "robotoSerif";
    --font-volkhov: "volkhov", serif;
    --font-helvetica: "helvetica", sans-serif;
    --font-helvetica-light: "helveticalight", sans-serif;
    --font-inter: "inter", sans-serif;
    --color-grey-1: #EDEDED;
    --color-golden-1: #CC9933;
}